{% extends 'blog/base.html' %}
{% load static %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="content">
    <h2 class="signup-title">Sign Up</h2>

    {% if form.errors %}
        <p class="error-message">Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url 'register' %}" class="signup-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-button">Login</button>
    </form>
</div>
{% endblock %}
