{% extends 'blog/base.html' %}
{% block title %}All Posts - Django Blog{% endblock %}

{% block content %}
    <h1>All Posts</h1>
    
    <ul>
        {% for post in posts %}
            <li>
                <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
                <p>{{ post.content|truncatewords:30 }}</p>  <!-- Display a snippet of the content -->
                <p><a href="{% url 'post_detail' post.pk %}">Read more</a></p>
            </li>
        {% empty %}
            <li>No posts available.</li>
        {% endfor %}
    </ul>

    <p><a href="{% url 'post_create' %}">Create New Post</a></p>
{% endblock %}